{% extends "base.html" %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col">

            {{ object.title }}<br>
            {{ object.embed_code|safe }}

            <br><br>
            <a href="{% url 'video-update' object.id %}" class="btn btn-success" role="button">Update</a>
            <a href="{% url 'video-delete' object.id %}" class="btn btn-danger" role="button">Delete</a>
            <a href="javascript:history.back()" class="btn btn-primary" role="button">Back</a>

        </div>

    </div>

</div>





{% endblock %}